header {
  padding-block: 20px;
  width: 100%;
  // position: fixed;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border: 2px solid red;
    nav {
      padding-inline: 20px;
      display: flex;
      gap: 30px;
      // border: 2px solid red;
      // width: 100%;
      // background-color: #fff;

      .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 80px;
        color: white;
        .nav-item {
          .nav-link {
            font-weight: 700;
          }
        }
      }
      .login {
        .btn {
          background-color: #ffbc51;
          padding: 13px 40px;
          color: white;
        }
      }
    }
  }
}
