@mixin flex() {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-section {
  .container {
    .hero {
      display: flex;
      // border: 2px solid red;
      gap: 30px;
      @media screen and (max-width: 768px) {
        display: block;
      }
      .inner-left {
        width: 42%;
        // border: 2px solid green;
        padding-top: 100px;
        color: #fff;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        & > h1 {
          font-size: 45.764px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
          color: #fff;
          margin-bottom: 30px;
        }
        .btn-start {
          border-radius: 4px;
          border: 1px solid rgba(171, 163, 163, 0.2);
          background: #798ac9;
          padding: 13px 40px;
          margin-top: 30px;
        }
      }
      .inner-right {
        width: 50%;
        // border: 2px solid yellow;
        img:nth-of-type(1) {
          // width: 100%;
          position: relative;
          bottom: 100px;
          right: 200px;
          height: 100%;
          max-height: 600px;
        }
        img:nth-of-type(2) {
          position: absolute;
          top: 150px;
          right: 80px;
          width: 100%;
          max-width: 1000px;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }
    }
    .about {
      display: flex;
      gap: 90px;
      margin-top: 80px;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
      }
      .about-left {
        padding-top: 70px;
        display: flex;
        gap: 30px;
        @media screen and (max-width: 768px) {
          display: block;
          // margin-bottom: 10px;
          border: 2px solid red;
          padding-top: 0;
        }
        .inner-left {
          padding-top: 50px;
          display: flex;
          flex-direction: column;
          row-gap: 30px;
          @media screen and (max-width: 768px) {
            margin-bottom: 20px;
            padding-top: 0;
          }
          .card {
            border-radius: 4px;
            background: #fff;
            box-shadow: 7px 10px 50px 0px #e8e2f0;
            padding: 30px 30px 30px 48px;
            width: 100%;
            max-width: 280px;
            border-left: 4px solid rgba(50, 19, 161, 0.74);
            & > h4 {
              color: #5c5e6e;

              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 128.6%; /* 28.292px */
              letter-spacing: 0.88px;
              margin-bottom: 8px;
            }
            & > p {
              color: #756f6f;
              font-style: normal;
              font-weight: 400;
              line-height: 128.6%; /* 20.576px */
              letter-spacing: 1.2px;
            }
          }
        }
        .inner-right {
          display: flex;
          flex-direction: column;
          row-gap: 30px;
          .card {
            border-radius: 4px;
            background: #fff;
            box-shadow: 7px 10px 50px 0px #e8e2f0;
            padding: 30px 30px 30px 48px;
            width: 100%;
            max-width: 280px;
            border-left: 4px solid rgb(57, 19, 161);
            & > h4 {
              color: #5c5e6e;

              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 128.6%; /* 28.292px */
              letter-spacing: 0.88px;
              margin-bottom: 8px;
            }
            & > p {
              color: #756f6f;
              font-style: normal;
              font-weight: 400;
              line-height: 128.6%; /* 20.576px */
              letter-spacing: 1.2px;
            }
          }
        }
      }
      .about-right {
        width: 100%;
        max-width: 331px;
        & > h1 {
          color: #857885;

          font-size: 40px;
          font-style: normal;
          font-weight: 800;
          line-height: 128.6%; /* 51.44px */
          letter-spacing: 1.6px;
        }
        & > p {
          color: #857885;

          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 128.6%; /* 20.576px */
          letter-spacing: 0.64px;
        }
        .link-to-about {
          color: #5c0e62;
          font-size: 18px;
          font-style: normal;
          font-weight: 800;
          line-height: normal;
        }
      }
    }
  }
  .testimonial {
    .rectangle {
      position: absolute;
      top: 0px;
      z-index: -1;
      // height: 700px;
      width: 100%;
    }
    .left-half {
      position: absolute;
      z-index: -1;
      height: 750px;
      right: 0;
      top: -170px;
    }
    position: relative;
    height: 700px;
    // border: 2px solid red;

    & > .container {
      z-index: 99999;
      // border: 2px solid green;
      height: 500px;
      .container-inner {
        display: flex;
        gap: 30px;
        height: inherit;
        .inner-left {
          // border: 2px solid red;

          color: #fff;
          padding-top: 100px;
          width: 100%;
          max-width: 400px;
          // border: 2px solid red;
          & > h1 {
            color: #fff;
            margin-top: 240px;
            font-size: 35px;
            font-style: normal;
            font-weight: 800;
            line-height: 128.6%; /* 51.44px */
            letter-spacing: 2px;
            margin-bottom: 30px;
          }
        }
        .inner-right {
          width: 100%;
          position: relative;
          .man {
            position: absolute;
            // border: 2px solid red;
            right: 200px;
            top: 160px;
            @include flex();
          }
          .man-beard {
            position: absolute;
            right: -110px;
            top: 60px;
            @include flex();
          }
          .lady {
            position: absolute;
            right: -20px;
            top: 300px;
            @include flex();
          }
          .y-lady {
            position: absolute;
            right: 200px;
            bottom: -100px;
            @include flex();
          }
          .old-lady {
            position: absolute;
            right: -130px;
            bottom: -60px;
            @include flex();
          }
          .testimony {
            width: 200px;
            // border: 2px solid yellow;
            color: white;
            text-align: center;
            z-index: -1;
            animation: move 1s ease-in;
            & > p {
              font-size: 14px;
              color: #fff;
              text-align: center;
              font-style: normal;
              line-height: 128.6%; /* 20.576px */
              letter-spacing: 0.64px;
            }
            & > h5 {
              color: #ffbc51;

              font-size: 15.123px;
              font-style: normal;
              font-weight: 900;
              line-height: 128.6%; /* 27.164px */
              letter-spacing: 1.584px;
              text-transform: uppercase;
            }
            & > p:nth-of-type(1) {
              margin-bottom: 10px;
              font-style: italic;
              font-weight: 600;
            }
            & > p:nth-of-type(2) {
              font-size: 12px;
            }
          }
          .img {
            z-index: 999;
            &:hover {
              cursor: pointer;
              border-radius: 100%;
              border: 2px solid #f7f1ba7e;
            }
          }
          .zoom-in {
            border-radius: 100%;
            border: 2px solid #fff;
            box-shadow: 7px 10px 50px 0px #f5f2f8;

            transform: scale(1.03);
            transition: transform 1s ease-in-out;
          }
          .zoom-out {
            transform: scale(0.9);
            transition: transform 1s ease-in-out;
          }
        }
      }
      .newsletter {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 30px;
        border-radius: 10px;
        background: #fff;
        padding: 20px;
        position: relative;
        top: 140px;
        .btn-e-quiz {
          border-radius: 4px;
          border: 1px solid rgba(171, 163, 163, 0.2);
          background: #ffbc51;
          padding: 13px 40px;
          color: #fff;
          text-align: center;
          font-family: Proxima Nova;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .heading {
          color: #5c515c;
          font-size: 32px;
          font-style: normal;
          font-weight: 800;
          line-height: 128.6%; /* 51.44px */
          letter-spacing: 1.6px;
        }
      }
    }
  }
}

@keyframes move {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0);
  }
}
