.reg {
  width: 100%;

  // transform: translate(50%, 4%);
  // border: 2px solid gray;

  .container {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    form {
      padding: 5px 20px 20px 20px;
      background-color: rgb(255, 239, 194);

      width: 100%;
      max-width: 500px;
      & > div {
        padding-block: 0.5px;
        .form-label {
          font-size: 15px;
        }
        .form-control {
          font-size: 14px;
          padding-block: 8px;
          &::placeholder {
            color: rgba(180, 176, 176, 0.623);
          }
        }
      }
    }
  }
}
